/* 1.1 Layout add-ons */

.bullet { padding-left: 5px; padding-right: 5px; }

.cool {
	font-size: 0.6em;
	line-height: 1.3em;
	vertical-align: top;
}

.line {
	display: block;
	width: 290px;
	height: 3px;
	padding: 0!important;
	background: #ccc;
}

.separator {
	width: 30px;
	height: 3px;
	background: #ccc;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.left { float: left!important; }
.right { float: right!important; }
