/* 2.1 Navigation */

#nav {
	width: 100%;
	height: 60px;
	text-align: center;
	position: absolute;
	margin: 0 auto;
}

#nav-sticky-wrapper.is-sticky #nav {
	background-color: #3BBBB3;
}

#nav ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: inline-block;
	*display: inline;
}

#nav ul li {
	padding: 0 8px;
	line-height: 60px;
	display: inline-block;
	float: left;
	text-transform: uppercase;
}

#nav ul li a {
	display: block;
	font-size: 0.938em;
	letter-spacing: 0.1em;
	color: #fff;
	text-decoration: none;
}

#nav ul li a:hover, #nav ul li.current a { color: #EAF887; }