/* 4. Skills */
#skills{
	background: url('../img/akselerator.jpeg') 50% 50% no-repeat;
	background-size: cover;
	padding-top: 0;
	margin-top: 110px;
	background-size: cover;
    background-attachment: fixed;
}
#skills:before{
	content: "";
		position:absolute;
		width: 100%;
		height: 100%;
		background: rgba(63, 81, 181, 0.3);
}
#skills .section-title{
	color:#fff
}
#skills .line { background-color: #78287C; }
.skills-title{
	position: relative;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin-top: 20px;
}
.skill { 
	text-align: center; 
    background: #fff;
    border-radius: 10px;
    margin: 0 20px 0 0;
    max-width: 220px;
    width: 100%;
    height: auto;
	min-height: 340px;
	position: relative;
}
.skill:hover{
	box-shadow: 0 0 25px rgb(0, 0, 0);
}
.skill:last-child{
	margin-right: 0;
}
.skill-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 170px;
}
.skill-pie {
	width: 100%;
	margin: 0 auto;
	font-size: 1.875em;
	font-weight: 300;
	color:#000;
}
.easyPieChart canvas { margin: 0 auto; }
.skill h3 { margin-bottom: 0; padding-bottom: 0; }
.skill:before {
	content: '';
    background: url('../img/ico/arrow.png');
    width: 50px;
    height: 50px;
    position: absolute;
    background-size: 50px;
    top: 45%;
    right: -15%;
    z-index: 2;
}
.skill:last-child:before {
	background: none;
}