/* 1. General */

@import url(https://fonts.googleapis.com/css?family=Tinos&subset=latin,cyrillic);

html, body { height: 100%; }

body {
	font-family: 'Tinos';
	margin: 0 auto;
	background-color: #F8D227;
	color: #fff;
}

img { max-width: 100%; }

a {
	outline: 0!important;
	color: #5b9bbc;
}

a:hover {
	text-decoration: none;
}

a img {
	border: 0;
	border-radius: 10px;
}
ul {
	list-style: none;
}

/* 1.1 Layout add-ons */

.bullet { padding-left: 5px; padding-right: 5px; }

.cool {
	font-size: 0.6em;
	line-height: 1.3em;
	vertical-align: top;
}

.line {
	display: block;
	width: 290px;
	height: 3px;
	padding: 0!important;
	background: #ccc;
}

.separator {
	width: 30px;
	height: 3px;
	background: #ccc;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.left { float: left!important; }
.right { float: right!important; }

/* 1.2 Section styling */

.section,
.section-alt {
	margin: 0 auto;
	padding: 75px 0;
	position: relative;
}

/* .section { background-color: rgba(120, 42, 125, 0.66);
} */

.section-alt { 
	background-color: #EFA01F;
 }

.section-title {
	margin: 0 0 15px 0;
	padding: 0;
	font-size: 2.250em;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	display: block;
	text-align: center;
	letter-spacing: 0.1em;
}

.section-title .cool {
	line-height: 1.7em;
}

.section-content { margin-top: 30px; }

.section h3,
.section-alt h3 {
	font-size: 1.5em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.section h4,
.section-alt h4 {
	font-size: 1em;
	color: #222;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.column > :first-child { margin-top: 0; }

/* 1.3 Form elements */

input[type="text"], textarea {
	font-family: inherit;
	font-size: 1em;
	font-style: italic;
	width: 96%;
	padding: 0 2%;
	height: 40px;
	line-height: 40px;
	font-size: 1em;
	background-color: #ccc;
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	resize: none;
}

textarea {
	height: auto;
	line-height: 1.4em;
	padding: 2%;
}

label {
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	margin-bottom: 10px;
}

label.error {
	margin: 10px 0 0 0;
	font-size: 0.750em;
	color: #e76270;
}

input.error, textarea.error {
	/*-webkit-box-shadow: inset 0px 0px 4px 3px rgba(231, 98, 112, 0.5);
	box-shadow: inset 0px 0px 4px 3px rgba(231, 98, 112, 0.5);*/
	background-color: #ffe0d5!important;
}

.button {
	display: inline-block;
	color: #ffffff!important;
	background-color: #F8D227 !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.15em;
	cursor: pointer;
}

.button:hover {
	color: #ffffff!important;
	background-color: #f8d227d4 !important;
}

.button-small {
	padding: 5px 10px;
	font-size: 0.875em;
}

.button-medium {
	padding: 10px 15px;
	font-size: 1em;
}

.button-large {
	padding: 15px 20px;
	font-size: 1.125em;
}

/* 2. Intro */

#intro {
	width: 100%;
	height: 100%;
	position: relative;
	/* background-color: #782A7D; */
	color: #fff;
	background: url('../img/bg.jpg') 40% 50% no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
}
#intro:before {
	content: "";
	position:absolute;
	width: 100%;
	height: 100%;
	background: rgba(15, 186, 89, 0.2);
}
#intro .line { background-color: #5b9bbc; }
#intro .bullet { color: #5b9bbc; }
#intro a { color: #5b9bbc; }

/* 2.1 Navigation */

#nav {
	width: 100%;
	height: 60px;
	text-align: center;
	position: absolute;
	margin: 0 auto;
}

#nav-sticky-wrapper.is-sticky #nav {
	background-color: #3BBBB3;
}

#nav ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: inline-block;
	*display: inline;
}

#nav ul li {
	padding: 0 8px;
	line-height: 60px;
	display: inline-block;
	float: left;
	text-transform: uppercase;
}

#nav ul li a {
	display: block;
	font-size: 0.938em;
	letter-spacing: 0.1em;
	color: #fff;
	text-decoration: none;
}

#nav ul li a:hover, #nav ul li.current a { color: #EAF887; }

/* 2.2 Info box */

.info {
	width: 100%;
	height: 100%;
	margin-bottom: -60px;
	text-align: center;
}
.container-text{
	padding-bottom: 20px !important;
	padding-top: 20px !important;
}
.info .container {
	position: relative;
	top: 200px;
	background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 15px;
}

.info .container h1 {
	margin: 0;
	padding: 0;
	font-size: 3.750em;
	font-weight: 900;
	letter-spacing: 0.1em;
	line-height: 1em;
	text-transform: uppercase;
}

.info .container h4 {
	margin: 0;
	padding: 0;
	font-size: 1.875em;
	font-weight: 300;
	letter-spacing: 0.1em;
	line-height: 1em;
	text-transform: uppercase;
}
.contact{
	position: fixed;
	display: flex;
	justify-content:space-around;
	padding:20px 0 20px 0;
background: rgba(0, 0, 0, 0.8);
z-index: 99;
width: 100%;
}
.contact__item{
	z-index: 99;
	font-size: 20px;
	display: flex;
	flex-direction:column;	
}
.contact__item .title{
	margin-bottom: 10px;
}
.item_link{
	margin-bottom: 5px;
}
/* 3. Profile */

.wel-sec {
	/* background-color: #F5F5F5; */
}

#profile .line { background-color: #4081a3; }
#profile .bullet { color: #4081a3; }
#profile a { color: #3BBBB3; }
#profile .col-1-4{
	text-align: center;
	margin-right: 5px;
	margin-bottom: 10px;
	background: #ffffff;
	border-radius:10px;
	max-width: 290px;
	color:#000;
}
#profile .col-1-4:hover{
	box-shadow: 0 0 25px rgb(0, 0, 0);
	
	cursor: pointer;
}
#profile .col-1-4:last-child{
	margin-right: 0;
}
#profile .section-title{
	color:#fff;
	font-weight: bold;
	font-size: 3.2em;
}
#profile{
	padding-bottom: 0;
	background: #F8D227;
}
@media(min-width:961px){
.decor1{
	
	display: block;
	width: 98%;
	/* max-width: 1329px; */
    position: relative;
    padding-left: 10px;
	padding-right: 10px;
	background-image: url('../img/bg-2_0.png');
	background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    padding-bottom: 100px;
	padding-top: 25px;
	margin-top: -192px;
}
}
@media(max-width:1370px){
	.decor1{
		margin-top: -185px;
	}
}
@media(max-width:1200px){
	.decor1{
		width: 98%;
		margin-top: -179px;
	}
}
.decor2{
	
	display: block;
	width: 100%;
	max-width:1320px;
    position: absolute;
    padding-left: 10px;
	padding-right: 10px;
	background-image: url('../img/bg-1_0.png');
	background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-attachment: scroll;
    padding-bottom: 100px;
	padding-top: 100px;
	z-index: 99;

}
.social-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex !important;
	justify-content: center;
	align-items: center;
}
.social-links li {
	float: left;
	margin: 0 8px 8px 0;
}
.social-links li a { display: inline-block; text-decoration: none; }
.social-links li i { font-size: 1.5em; }

/* 4. Skills */
#skills{
	background: url('../img/akselerator.jpeg') 50% 50% no-repeat;
	background-size: cover;
	padding-top: 0;
	margin-top: 110px;
	background-size: cover;
    background-attachment: fixed;
}
#skills:before{
	content: "";
		position:absolute;
		width: 100%;
		height: 100%;
		background: rgba(15, 186, 89, 0.2);
}
#skills .section-title{
	color:#fff
}
#skills .line { background-color: #F8D227; }
.skills-title{
	position: relative;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin-top: 20px;
}
.skill { 
	text-align: center; 
    background: #fff;
    border-radius: 10px;
    margin: 0 20px 0 0;
    max-width: 220px;
    width: 100%;
    height: auto;
	min-height: 340px;
	position: relative;
}
.skill:hover{
	box-shadow: 0 0 25px rgb(0, 0, 0);
}
.skill:last-child{
	margin-right: 0;
}
.skill-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 170px;
}
.skill-pie {
	width: 100%;
	margin: 0 auto;
	font-size: 1.875em;
	font-weight: 300;
	color:#000;
}
.easyPieChart canvas { margin: 0 auto;
	position: relative;
    top: -115px; }
.skill h3 { margin-bottom: 0; padding-bottom: 0; }
.skill:before {
	content: '';
    background: url('../img/ico/arrow.png');
    width: 50px;
    height: 50px;
    position: absolute;
    background-size: 50px;
    top: 45%;
    right: -15%;
    z-index: 2;
}
.skill:last-child:before {
	background: none;
}
/* 5. Experience */
#piechart{
	margin-left: auto;
}
.pie_ico{
	width: 50px;
	height: 50px;
	z-index: 99;
	position: absolute;
}
.piechart_cont{
	position: relative;
	max-width: 800px;
	margin-left: auto;
}
.bottle{
	top: 45%;
	right: 25%;
}
.plan{
	top: 27%;
	right: 29%;
}
.tea{
	top: 27%;
	right: 39%;
}
.plastic{
    top: 55%;
    right: 33%;
}
.recycle{
    top: 46%;
    right: 43%;
}
.pie_ico:hover{
	width: 60px;
	height: 60px;
}
#experience{
	padding-top: 35px;
	padding-bottom: 0;
	background-image: url('../img/26.png');
	background-repeat: no-repeat;
	background-size: 500px;
	background-position-y: 50%;
	background-position-x: 15%;
}
#experience .line { background-color: #e76270; }
#experience .bullet { color: #e76270; }
#experience a { color: #e76270; }

.job h3 {
	margin: 0 0 10px 0;
	text-align: center;
}

.job-attributions {
	display: block;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.job-period { text-align: right; }

.job-project { text-align: center; }

/* 6. Education */
#education{
	background: url('../img/bg.jpg') 40% 50% no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 0;
}
#education:before{
	content: "";
	position:absolute;
	width: 100%;
	height: 100%;
	background: rgba(15, 186, 89, 0.2);
}
#education .section-title{
	margin-top: 30px;
}
#education .text-center{
	font-size: 30px;
}
#education .container{
	position: relative;
}
#education .section-content{
	background:	rgba(0, 0,0, 0.7);
	padding: 10px;
	border-radius:10px;
}
#education .line { background-color: #f24759; }
#education .bullet { color: #f24759; }
#education a { color: #f24759; }

.school h3 {
	margin: 0 0 10px 0;
	text-align: center;
}

.school-meta {
	display: block;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}
.ul-list span {
	color: rgb(22, 187, 22);
}

/* 7. Portfolio */

#portfolio .line { background-color: #74297B; }
#portfolio .bullet { color: #74297B; }
#portfolio a { 
	color: #74297B;
	display: block;
    padding: 5px;
	/* border: 1px solid #000; */
	max-width: 170px;
	width: 100%;
	max-height: 190px;
	height: 100%;
	box-sizing: border-box;
 }
 #portfolio a:hover img{
	box-shadow: 0 0 25px rgb(0, 0, 0);
	padding: 10px;
	border:1px solid #000;
 }
 #portfolio a img{
	 max-width: 170px;
	 width: 100%;
	 min-height: 170px;
	 max-height: 180px;
	 height: 100%;
	 box-sizing: border-box;
 }
#portfolio {min-height: 650px;}
.project {
	opacity: 0;
    display: none;
	text-align: center;
	max-height:210px;
	margin-bottom: 10px;
}

.filters {
	display: block;
	margin: 0 0 15px 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	BACKGROUND: rgb(212, 175, 11);
    padding: 10px;
    border-radius: 10px;
}

.filters li {
	color: #ffffff;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.filters li:hover, .filters li.active { color: #377AAF;font-weight: bold; }

.filters li:before {
	content: "\2022";
	padding: 0 10px;
	color: #74297B;
}

.filters li:first-child:before {
	content: "";
	padding: 0;
}

/* 8. Contact */

#contact {
	background-color: #0FBA59;
	/* min-height: 80%; */
	color: #fff;
}

#contact h2, #contact h3, #contact h4 { color: #fff; }

#contact .line { background-color: #5b9bbc; }
#contact .bullet { color: #5b9bbc; }
#contact a { color: #5b9bbc; }

#contact input[type="text"], #contact textarea { background-color: #fff; }

/* 9. Footer */

footer {
  background-color: #0FBA59;
  padding: 50px;
  text-align: center;
  color: #fff;
  padding: 25px;
}
footer a {
	color: gold;
}

/* A. Clearfix */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.clearfix { display: inline-block; }

/* A.1 Hides from IE5/Mac \*/
* html .clearfix { height: 1px; }

.clearfix  { display: block; }
/* End hide from IE5/Mac */
.logo img{
	width: 100px;
	margin-bottom: 10px;
}

/* B. Media Queries */
@media screen and (max-width: 768px) {
	.skill,
	.project { width: 33.33333333333333%; }
	.job-project { width: 50%; }
	.bottle{
		display: none;
	}
}

@media screen and (max-width: 640px) {
	.section-title { font-size: 2em; line-height: 1em; }
	.info .container h1 { font-size: 2.300em; }
	.info .container h4 { font-size: 1.500em; }
	#nav li { font-size: 0.875em; }
	#nav li a span { display: none; }
	.line { width: 200px; }
	.job-company,
	.job-period { text-align: center; }
	.skill,
	.job-project,
	.project { float: left; width: 50%; }
	.text-right { text-align: left; }
}

@media screen and (max-width: 480px) {
	.section-content { margin-top: 45px; }
	#nav ul li { padding: 0 5px; }
}